:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#container {
  position: absolute;
  height: 200px;
  border: 5px solid black;
  border-radius: 1em;
  overflow: hidden;
}

.whitenote {
  height: 100%;
  width: 40px;
  background-color: white;
  float: left;
  border-right: 1px solid black;
}

.blacknote {
  position: absolute;
  height: 60%;
  width: 30px;
  background-color: black;
  float: left;
  margin-left: 25px;
  z-index: 1;
}
